<div class="container">
  
  <div class="main">
    <div class="login-form" ng-init="projects()">      
      <p ng-bind="response"></p>
   
    <table class="container" align=center>
<tr><td>
<div class="results" align=center>
<tr><td>
<ul class="list-unstyled">
  <li ng-repeat="x in projects">
    <div class="results-li">
    <button ng-click=showdetail(x)><span ng-bind=x._source.title></span></button>
    <p ng-bind=x._source.description>
    </p>
    </div>
    <br />
  </li>
</ul>
</div>
</td>
<td>

<div class="detail" id="detail">
  <h5>Project Title:</h5>
  <span ng-bind=title></span>
  <h5>Project Description:</h5>
  <p ng-bind=description></p>
  <h5>Synopsis:</h5>
   <p ng-bind=synopsis></p>
  <div ng-if="!approvestatus" >
   <button type="submit" ng-click="approveme()">Approve</button>
  </div>
  <div ng-if="approvestatus" >
   <button type="submit" ng-click="approveme()">Disapprove</button>
  </div>
<!-- <div ng-if approve =='true' input type="submit" ng-click="submit()" value="Disapprove" ></div>
  -->
  </div>

</div>
</td></tr></table>

    </div>
  </div>
</div>