<div class="jumbotron">
      <h3><p class="text-muted text-heading">Bugs | Requests | Queries | Feedback</p></h3>
 <p class="text-success bg-success" ng-bind="response"></p>
  <div class="container">
       <form class="form-horizontal" role="form">
            <div class="form-group">
            <input type="text" placeholder="your email address" class="form-control col-xs-12" ng-model="email" ><br/>
              </div>
              <div class="form-group">
              <textarea rows="8" class="form-control col-xs-12" ng-model="text"></textarea> 
              </div>
             <div class="form-group">
              <button class="btn btn-primary" ng-click="submit()">Send Feedback</button>
          </div>  

        </form>
    
   
      
      </div>
      </div>
      </div>
        
      