<div class="container">
  
  <div class="main">
    <div class="login-form">
      <h1>Send Us A Message</h1>

       <form>
            <p ng-bind="success"></p>
      Your Email:
            <input type="text"  class="textbox" ng-model="email" ></br>
      Enter Ur Message:</br>
              <textarea rows="4" cols="50" ng-model="text"></textarea> 

             <div class="submit">
              <input type="submit" ng-click="submit()" value="Submit" >
          </div>  

        </form>
    
   
      
      </div>
      </div>
      </div>
        
      