<div class="container">
  
  <div class="main">
    <div class="register-form" ng-init="teachersData()">
      <h1>Project Registration</h1>
        
  <form name="myForm" ng-submit="submit()">
            
            <p ng-bind="response"></p>
      Project Title</br>      
            <input type="text" class="text" ng-model="title" required></br>
      Project Type</br>
            <select ng-model="projecttype"  >
                   <option value="Minor">Minor</option>
                  <option value="Major">Major</option>
                   </select></br>
                   
                <div ng-if="projecttype =='Minor'" ng-init="minorSelected()">
                  <h5>Select Your Mentor</h5>
                 
           <select ng-repeat="m in mentor track by $index" ng-model="mentor[$index]" ng-options="teacher for teacher in teachers | orderBy: 'toString()' " >
                      </select>
                </div> 

                   <div ng-if="projecttype =='Major'" ng-init="majorSelected()">
                <h5>Select Your Choices</h5>
                <select ng-repeat="m in mentor track by $index" ng-model="mentor[$index]" ng-options="teacher for teacher in teachers | orderBy: 'toString()' " >
                      </select>
                <h5>Domain</h5>
              </div>

                   Project Description</br>
            <textarea rows="4" cols="50" ng-model="description" required></textarea>
          
          <!--   Do proper styling -->
         
         </br> Team Members</br>
         <!--   To verify output [<span ng-repeat="member in members">"{{member.name}}"</span>]: -->
            <div ng-repeat="member in members">

            Name:    <input type="text"      ng-model="member.name" required>
            Enroll.: <input type="text"      ng-model="member.eno"    required>
            Email:   <input type="email" name="email"    ng-model="member.email"   required><br/>
            Branch:<select ng-model="member.branch" >
                   <option value="Computer Science">Computer Science</option>
                   <option value="Electronic and Comm.">Electronic and Comm.</option>
                   <option value="Bio-Technology">Bio-Technology</option>
                   </select></br>
                   
       <br/> <button ng-click="removeInput($index)">Remove User</button>
    </div><br/>
   <br/><div> <button ng-click="addInput()">Add Users</button>
</div>
          <br/> 
     <div ng-if="myForm.$invalid">
                <p>All Fields R Compulsory and Should Be Correct</p>
              </div>
              <div>
              <input type="submit" ng-disabled="myForm.$invalid" value="REGISTER" >
          </div>  
    </form>    
      
      </div>
      </div>
      </div>
 
</form>