<div class="container">
  
  <div class="main">
    <div class="register-form">
      <h1>Project Registration</h1>
        
  <form>
            <p ng-bind="error"></p>
      Project Title</br>
            <input type="text" class="text" ng-model="title" required></br>
      Project Type</br>
            <input list="projecttype"  ng-model="projecttype" required>
          <datalist id="projecttype">
                   <option value="Minor">
                   <option value="Major">
                   </datalist></br>

                   Project Description</br>
          <input type="text" ng-model="description" required></br>
          <!--   Do proper styling -->
         
          Team Members</br>
         <!--   To verify output [<span ng-repeat="member in members">"{{member.name}}"</span>]: -->
            <div ng-repeat="member in members">

            Name:    <input type="text"      ng-model="member.name" required>
            Enroll.: <input type="text"    ng-model="member.eno" required>
            Email:   <input type="email"     ng-model="member.id" required><br/>
            Branch:<input list="branches" ng-model="member.branch" required>
                   <datalist id="branches">
                   <option value="Computer Science">
                   <option value="Electronic and Comm.">
                   <option value="Bio-Technology">
                   </datalist></br>
       
       <br/> <button ng-click="removeInput($index)">Remove User</button>
    </div><br/>
   <br/><div> <button ng-click="addInput()">Add Users</button>
</div>
                   
     <div class="submit">
              <input type="submit" ng-click="submit()" value="REGISTER" >
          </div>  
    </form>



    
   
      
      </div>
      </div>
      </div>
        
      