<style>
    .results-li {
  background: #FAFAFA;
  padding: 20px;
  box-shadow: -4px 0 10px -6px rgba(0,0,0,0.4);
}
.detail {
  background: #fff;
  padding: 20px;
}


</style>

<div class="col-lg-6 centered">
    <div class="input-group centered">
      <input type="text" ng-model="query" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="submit()" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>
<br>
<br><br>
<table class="container" align=center>
<tr><td>
<div class="results" align=center>
<tr><td>
<ul class="list-unstyled">
  <li ng-repeat="x in projects">
    <div class="results-li">
    <button ng-click=showdetail(x)><span ng-bind=x._source.title></span></button>
    <p ng-bind=x._source.description>
    </p>
    </div>
    <br />
  </li>
</ul>
</div>
</td>
<td>

<div class="detail" id="detail"><span ng-bind=title></span>
    <p ng-bind=description></p>
  <p ng-bind=rating></p>
<p ng-bind=evaluated></p>
<p ng-bind=approved></p>
<p ng-bind=synopsis></p></div>

</div>
</td></tr></table>


<!-- <div class="container">

  <div class="main">
    <div class="register-form">
      <h4>Search Projects:</h4>
      <form>
            <p ng-bind="error"></p>
            <input type="text" class="textbox" onfocus="if(this.value == 'What Can I find For you ?') { this.value = ''; }"ng-model="query" >

            <input type="submit" ng-click="submit()" value="Search" >


        </form>
    </div>
    </div>
    </div> -->
